body {
  background-color: #d1e4e4;
}
.options {
  color: #991414 !important;
  font-style: bolder;
  font-size: 14px;
  width: 100%;
}
.catogory {
  width: 100%;
}
.save {
  float: right !important;
  border: 2px solid #991414;
  font-size: 15px !important;
  background-color: #991414;
  border-radius: 25px !important;
  color: white;
  transition: all 0.3s ease;
}

.save:hover {
  color: #991414 !important;
  background-color: #fff !important;
  font-size: 15px !important;
}
.title {
  background-color: #746e6e !important;
}

.publish {
  background-color: #00659d !important;
  border-radius: 25px !important;
}

.left,
.right {
  box-shadow: 0 0 9px rgba(117, 10, 10, 0.6);
  -moz-box-shadow: 0 0 9px rgba(129, 16, 16, 0.6);
  -webkit-box-shadow: 0 0 9px rgba(146, 21, 21, 0.6);
  -o-box-shadow: 0 0 9px rgb(121, 15, 15);
}

.title-box {
  font-size: 25px;
  border-bottom: 2px solid black !important;
  border-radius: 9px;
  font-family: "Times New Roman", Times, serif;
}
.link-box {
  border-bottom: 2px solid black !important;
  border-radius: 6px;
}
/* .dropbox {
  background-color: white;
  border-radius: 4px;
  border: 2px dashed #991414;
  font-weight: bold;
  cursor: pointer;
} */

/* file label code from codepen: https://codepen.io/adambene/pen/xRWrXN */

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  text-align: center;
}

.btn-upload {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.btn-upload:hover {
  cursor: pointer;
  background-color: #991414;
  color: white;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
